<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <% if user_signed_in? %>
    <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password%></p>
  <% end %>

  <p><%= f.label :password %>
  <% if user_signed_in? %><i>(leave blank if no change)</i><% end %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %>
  <% if user_signed_in? %><i>(leave blank if no change)</i><% end %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :gender %><br />
  <%= f.select :gender, User::GENDER %></p>

  <p><%= f.label :sexual_orientation %><br />
  <%= f.select :sexual_orientation, User::SEXUAL_ORIENTATION %></p>

  <p><%= f.label :dob, 'Date of Birth' %><br />
  <%= f.date_select :dob, {order: [:day, :month, :year], start_year: 1900, end_year: Date.today.year}, {class: 'common-class'} %></p>

  <p><%= f.label :city %><br />
  <%= f.text_field :city %></p>

  <p><%= f.label :state %><br />
  <%= f.select :state, User::STATES %></p>

  <p><%= f.label :image_url %><br />
  <%= image_tag :image_url, size: '80x80' %><br />
  <%= f.url_field :image_url %></p>

  <p><%= f.label :quote %><br />
  <%= f.text_field :quote %></p>

  <p><%= f.submit %></p>
<% end %>
