<% array.each do |match| %>
  <p>
  <%= match.lunch_date.location_name %><br />
  <%= match.lunch_date.date_time.strftime("%m/%d/%y - %I:%M%p") %><br />
  <%= match.lunch_date.comment %>
  </p>
  <p>
  <%= match.lunch_date.creator.username %><br />
  <%= image_tag(match.lunch_date.creator.image_url) %><br />
  <%= match.lunch_date.creator.age(match.lunch_date.creator.dob) %><br />
  <%= match.lunch_date.creator.gender %><br />
  <p>
<% end %>
<%= array.count %> Match(es) Found
