<h1>My Lunch Dates</h1>

<% @lunch_dates.each do |ld| %>
  <p>
  <% if ld.creator == current_user %>
    <%= image_tag(ld.creator.image_url, size: "80x80") %><br />
    Creator: <%= ld.creator.username %><br />
    Location: <%= ld.location_name %><br />
    Date/Time: <%= ld.date_time.strftime("%m/%d/%y - %I:%M%p") %><br />
    Matches:
    <% if ld.matches.count > 0 %>
      <table>
        <tr>
          <th>Status</th>
          <th>Image</th>
          <th>Username</th>
          <th>Age</th>
          <th>Gender</th>
          <th>Sexual Orientation</th>
          <th>Quote</th>
          <th>City</th>
          <th>State</th>
          <th>Confirm</th>
        </tr>
        <% ld.matches.each do |match| %>
        <tr>
          <td><%= match.status %></td>
          <td><%= image_tag(match.user.image_url, size: '100x100') %></td>
          <td><%= match.user.username %></td>
          <td><%= match.age(match.user.dob) %></td>
          <td><%= match.user.gender %></td>
          <td><%= match.user.sexual_orientation %></td>
          <td><%= match.user.quote %></td>
          <td><%= match.user.city %></td>
          <td><%= match.user.state %></td>
          <td><%= link_to 'Confirm Lunch Date', confirm_date_path(ld, match_id_to_confirm: match.id), data: { confirm: "Confirm Lunch Date with #{match.user.username}"} %></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      None
    <% end %>
    <%= link_to 'Edit/Delete Date Proposal', edit_lunch_date_path(ld) %>
  <% end %>
  </p>
<% end %>
