<h1>My Accepted Dates</h1>

<h2>Confirmed</h2>
<% @confirmed_matches.each do |match| %>
  <p>
  <%= match.lunch_date.location %>
  <%= match.lunch_date.date_time.strftime("%m/%d/%y - %I:%M%p") %>
  </p>
  <p>
  <%= match.lunch_date.creator.username %>
  <%= image_tag(match.lunch_date.creator.image_url) %>
  <%= match.lunch_date.creator.age(match.lunch_date.creator.dob) %>
  <%= match.lunch_date.creator.gender %>
<% end %>

<h2>Unconfirmed</h2>
<% @unconfirmed_matches.each do |match| %>
  <%= match.inspect %>
<% end %>
