<h1>My Accepted Dates</h1>

<h2>Confirmed</h2>
<% @confirmed_matches.each do |match| %>
  <p>
  <%= match.lunch_date.location_name %><br />
  <%= match.lunch_date.date_time.strftime("%m/%d/%y - %I:%M%p") %>
  </p>
  <p>
  <%= match.lunch_date.creator.username %><br />
  <%= image_tag(match.lunch_date.creator.image_url) %><br />
  <%= match.lunch_date.creator.age(match.lunch_date.creator.dob) %><br />
  <%= match.lunch_date.creator.gender %><br />
  <p>
<% end %>
<%= @confirmed_matches.count %> Match(es) Found
<br />

<h2>Unconfirmed</h2>
<% @unconfirmed_matches.each do |match| %>
  <p>
  <%= match.lunch_date.location_name %><br />
  <%= match.lunch_date.date_time.strftime("%m/%d/%y - %I:%M%p") %>
  </p>
  <p>
  <%= match.lunch_date.creator.username %><br />
  <%= match.lunch_date.creator.age(match.lunch_date.creator.dob) %><br />
  <%= match.lunch_date.creator.gender %><br />
  <%= image_tag(match.lunch_date.creator.image_url) %><br />
  <p>
<% end %>
 <%= @unconfirmed_matches.count %> Match(es) Found
