<div class="container">
<h1>View/Accept Lunch Date</h1>

<div id="map" style='width: 100%; height: 200px;'></div>

<h5>
<div class="row collapse left">
  <div class="large-2 columns">
    <%= image_tag(@lunch_date.creator.image_url, size: "120x120") %>
  </div>
  <div class="large-10 columns">
    <label>Creator</label><%= link_to @lunch_date.creator.username, profile_path(@lunch_date.creator.username) %>
    <label>Location</label> <%= link_to @lunch_date.location_name, query_result_path(query_term: @lunch_date.location_name) %>
    <label>Date/Time</label> <%= @lunch_date.date_time.strftime("%m/%d/%y - %I:%M%p") %><br />
    <label>Comments</label> <%= @lunch_date.comment %><br />
  </div>
</div>
</h5>

<div class="row collapse left">
  <div class="large-12 columns">
    <label>Status</label> <%= @lunch_date.matches.count %> Acceptances
      <ul>
      <% @lunch_date.matches.each do |match| %>
        <li><%= match.status %></li>
      <% end %>
      </ul>
  </div>
</div>


<% if (@lunch_date.creator != current_user) && (!@lunch_date.matches.map{ |match| match.user_id }.include? current_user.id) %>
  <h2><%= link_to 'Accept This Lunch Date', @lunch_date, method: :accept_date, data: { confirm: 'Accept Date?'} %></h2>
<% end %>

<% if @lunch_date.creator == current_user %>
  <%= link_to 'Edit Date', edit_lunch_date_path(@lunch_date), class: 'tiny button radius' %>
  <%= link_to 'Delete Date', @lunch_date, method: :delete, data: { confirm: 'Delete Date?'}, class: 'tiny button radius' %>
<% end %>

<!-- Script for Gmap -->
<script type="text/javascript" charset="utf-8">
handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
    disableDefaultUI: true
  },
  internal: {
    id: 'map'
  }},
  function(){
  markers = handler.addMarkers(<%= raw @single_date_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(15);
});
</script>
</div>

