<h1>View Lunch Date</h1>

<h3>
<p>
Current_User: <%= current_user.inspect %><br />
Creator: <%= @lunch_date.creator.inspect %><br />
Location: <%= @lunch_date.location_name %><br />
Date/Time: <%= @lunch_date.date_time %><br />
</p>
</h3>
<%= link_to 'Edit Date', edit_lunch_date_path(@lunch_date) %> |
<%= link_to 'Delete Date', @lunch_date, method: :delete, data: { confirm: 'Delete Date?'} %>
