<h1>View/Accept Lunch Date</h1>

<p>
<div style='width: 800px;'>
  <div id="map" style='width: 400px; height: 200px;'></div>
</div>
</p>

<h3>
<p>
<%= image_tag(@lunch_date.creator.image_url, size: "200x200") %><br />
Creator: <%= @lunch_date.creator.username %><br />
Location: <%= @lunch_date.location_name %><br />
Date/Time: <%= @lunch_date.date_time.strftime("%m/%d/%y - %I:%M%p") %><br />
Status: <%= @lunch_date.matches.count %> Acceptances<br /><ul>
  <% @lunch_date.matches.each do |match| %>
    <li><%= match.status %></li><br />
  <% end %>
</p>
</h3>

<% if (@lunch_date.creator != current_user) && (!@lunch_date.matches.map{ |match| match.user_id }.include? current_user.id) %>
  <h2><%= link_to 'Accept This Lunch Date', @lunch_date, method: :accept_date, data: { confirm: 'Accept Date?'} %></h2>
<% end %>


<%= link_to 'View All Dates', lunch_dates_path, 'data-no-turbolink' => true %>
<% if @lunch_date.creator == current_user %>
  |
  <%= link_to 'Edit Date', edit_lunch_date_path(@lunch_date) %> |
  <%= link_to 'Delete Date', @lunch_date, method: :delete, data: { confirm: 'Delete Date?'} %>
<% end %>

<!-- DONT TOUCH MAP IS WORKING -->
<script type="text/javascript" charset="utf-8">
handler = Gmaps.build('Google');
handler.buildMap({
  provider: {
    disableDefaultUI: true
  },
  internal: {
    id: 'map'
  }},
  function(){
  markers = handler.addMarkers(<%= raw @single_date_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(15)
});
</script>
<!-- DONT TOUCH MAP IS WORKING -->
